.title1 {
  font-size: 48px;
  line-height: 120%;
}

.title2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 120%;
}

.t-xs,
.t-s,
.t-l,
.t-xl,
.text {
  line-height: 150%;
  font-weight: 400;
}

.text {
  font-size: 16px;
}

.t-xl {
  font-size: 22px;
}

.t-l {
  font-size: 18px;
}

.t-s {
  font-size: 14px;
}

.t-xs {
  font-size: 12px;
}

.t-500 {
  font-weight: 500;
}

.t-600 {
  font-weight: 600;
}
