/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-white-lite: rgba(255, 255, 255, 0.07);

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-black-lite: rgba(0, 0, 0, 0.07);

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);


  --vt-c-main: #00bd7e;
  --vt-c-main-1: rgba(0, 189, 126, 0.7);


  --vt-c-red: #ff5b57;
}

/* semantic color variables for this project */
:root {
  --color-const-white: var(--vt-c-white);
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-button: var(--vt-c-black);
  --color-background-input: var(--vt-c-black);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-text-element: var(--vt-c-text-light-1);
  --color-text-input: var(--vt-c-text-dark-1);
  --color-text-button: var(--vt-c-black-soft);
  --color-text-button-color: var(--vt-c-white-soft);

  --color-checkbox-background: var(--vt-c-black);
  --color-checkbox-input: var(--vt-c-main);
  --color-checkbox-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23222' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  --color-checkbox-focus-shadow: var(--vt-c-black-lite);

  // tdo-list
  --primary: #ff9640ff;
  --c-active: var(--vt-c-main);
  --c-active-glow: var(--vt-c-main-1);
  --personal: var(--primary);
  --light: #eee;
  --grey: #888;
  --dark: #313154;
  --danger: var(--vt-c-red);
  --color-danger: var(--vt-c-red);
  --personal-glow: 0 0 4px rgb(255 150 64 / 75%);
  --shadow: 0 1px 3px rgb(0 0 0 / 10%);

  --section-gap: 160px;
  --transition: .2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-button: var(--vt-c-white);
    --color-background-input: var(--vt-c-white);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
    --color-text-input: var(--vt-c-text-light-1);
    --color-text-button: var(--vt-c-white-soft);
    --color-text-button-color: var(--vt-c-black-soft);

    --color-checkbox-background: var(--vt-c-white);
    --color-checkbox-input: var(--vt-c-main);
    --color-checkbox-checked: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    --color-checkbox-focus-shadow: var(--vt-c-white-lite);
  }
}
